## Data Science Tools and Ecosystem

This notebook has data science tools and ecosystems summarized.

**Objectives :**
1. Some of the popular languages that Data Scientists use.
2. Some of the commonly used libraries used by Data Scientists.
3. Data Science Tools,

Some of the popular languages that Data Scientists use are:

1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| --- |
| Apache spark |
| RStudio and R|
|Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Vedanth